<div class="max-w-7xl mx-auto mt-10">
  <h1 class="text-3xl font-bold mb-6">Bloques de vuelo</h1>

  <%= link_to "Crear nuevo bloque", new_flight_block_path,
      class: "mb-4 inline-block bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded" %>

  <table class="min-w-full bg-white shadow rounded">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500">Avión</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500">Tipo de vuelo</th>
        <%# Solo mostramos estas cabeceras si aplican %>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500">Participantes</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500">Inicio</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500">Fin</th>
        <th class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <% @flight_blocks.each do |block| %>
        <tr class="border-b hover:bg-gray-50">
          <td class="px-6 py-4"><%= block.aircraft.identifier %></td>
          <td class="px-6 py-4">
            <% case block.flight_type %>
              <% when "instruccion" %>
                <span class="text-indigo-700 font-semibold">Vuelo de instrucción</span>
              <% when "safety" %>
                <span class="text-green-700 font-semibold">Vuelo safety</span>
              <% when "compartido" %>
                <span class="text-purple-700 font-semibold">Vuelo compartido</span>
              <% when "prueba_acc" %>
                <span class="text-pink-700 font-semibold">Prueba ACC</span>
              <% else %>
                <span class="text-gray-500">No definido</span>
            <% end %>
          </td>

          <td class="px-6 py-4">
            <% case block.flight_type %>
              <% when "instruccion" %>
                <%= "Instructor: #{block.instructor&.name || 'N/A'}<br>Estudiante: #{block.student&.name || 'N/A'}".html_safe %>
              <% when "safety" %>
                <%= "Safety: #{block.safety&.name || 'N/A'}<br>Estudiante: #{block.student&.name || 'N/A'}".html_safe %>
              <% when "compartido" %>
                <%= "Estudiante 1: #{block.student&.name || 'N/A'}<br>Estudiante 2: #{block.student2&.name || 'N/A'}".html_safe %>
              <% when "prueba_acc" %>
                <%= "Estudiante: #{block.student&.name || 'N/A'}" %>
              <% else %>
                <span class="text-gray-500">-</span>
            <% end %>
          </td>
<td class="px-6 py-4 text-sm text-gray-700 italic">
               <%= block.notes.present? ? block.notes : "N/A" %>
        </td>
       <td class="px-6 py-4">
         <%= block.start_time.present? ? block.start_time.strftime("%d/%m/%Y %H:%M") : "Sin hora" %>
      </td>


          <td class="px-6 py-4">
            <%= block.end_time.present? ?  block.end_time.strftime("%d/%m/%Y %H:%M") : "Sin hora" %>
          </td>

          <td class="px-6 py-4 text-right">
          <% if block.status == "No Show" %>
              <p class="inline-block bg-yellow-100 text-yellow-800 text-sm font-semibold px-3 py-1 rounded">
                Estudiante marcado con NO SHOW
              </p>
            <% else %>
              <%= button_to "NO SHOW", no_show_flight_block_path(block),
                  method: :patch,
                  class: "inline-block bg-red-600 text-white px-4 py-2 rounded hover:bg-red-500 transition",
                  data: { turbo_confirm: "¿Estás seguro de marcarlo como NO SHOW?" } %>
            <% end %>
          <%= link_to "Editar", edit_flight_block_path(block), class: "text-indigo-600 hover:text-indigo-900" %> |
            <%= button_to "Eliminar", flight_block_path(block), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "text-red-600 hover:text-red-800" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
